.form-field {
    width: 100%;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    mat-form-field {
      padding-bottom: 10px;
    }
  }
  
  mat-label {
    margin: 10px;
  }
  